@font-face {font-family: "TT Interfaces"; src: url("assets/fonts/ttinterfaces/TTInterfaces-Regular.ttf"); }
@font-face {font-family: "Lastica"; src: url("assets/fonts/FontsFree-Net-Lastica.ttf");}

body {
	background-image: url("assets/webpageBG.png");
	background-position: center;
	background-attachment: fixed;}

header {
	background-image: url("assets/HeaderBG.gif");
	height: 300px;
	position: relative;
	padding-left: 50px;}

mms142, activitygroup, hTitle, hSub, #circledesign {;
	color: white;
	position: absolute;
	white-space: nowrap;}

#circledesign {
	top: 30px;}

mms142 {
	font-size: 12px;
	top: 50px;
	left: 62px;
	font-family: Lastica;}

activitygroup {
	font-size: 12px;
	top: 50px;
	left: 125px;
	font-family: Lastica;}

hTitle {
	font-size: 56px;
	top: 100px;
	font-weight: bold;
	font-family: Lastica;}

hSub {
	top: 240px;
	font-size: 26px;
	font-family: TT Interfaces;
	font-style: italic;}

.menupanel {
	position: relative;
	background-image: url("assets/menupanelBG.png");
	background-size: 100% 100%;
	width: 200px;
	height: 1000px;
	padding: 15px;}

#BtnTech, #BtnAVR, #BtnCurr, #BtnFuture, #BtnCon, #BtnCredits {
	position: sticky;
	top: 0;
	color:white;
	font-family: Lastica;
	font-size: 15px;
	text-decoration: none;}

#BtnTech:hover, #BtnAVR:hover, #BtnCurr:hover, #BtnFuture:hover, #BtnCon:hover, #BtnCredits:hover {
	font-weight: bold;}

#BtnTech {
	top: 20px;}

#BtnAVR {
	top: 75px;}

#BtnCurr {
	top: 110px;}

#BtnFuture {
	top: 165px;}

#BtnCon {
	top: 220px;}

#BtnCredits {
	top: 255px;}
