@font-face {font-family: "TT Interfaces"; src: url("assets/fonts/ttinterfaces/TTInterfaces-Regular.ttf"); }
@font-face {font-family: "Lastica"; src: url("assets/fonts/FontsFree-Net-Lastica.ttf");}

body {
	background-image: url("assets/webpageBG.png");
	background-position: center;
	background-attachment: fixed;}

header {
	background-image: url("assets/HeaderBG.gif");
	height: 300px;
	position: relative;
	padding-left: 50px;}

mms142, activitygroup, hTitle, hSub, #circledesign {;
	color: white;
	position: absolute;
	white-space: nowrap;}

#circledesign {
	top: 30px;}

mms142 {
	font-size: 12px;
	top: 50px;
	left: 62px;
	font-family: Lastica;}

activitygroup {
	font-size: 12px;
	top: 50px;
	left: 125px;
	font-family: Lastica;}

hTitle {
	font-size: 56px;
	top: 100px;
	font-weight: bold;
	font-family: Lastica;}

hSub {
	top: 240px;
	font-size: 26px;
	font-family: TT Interfaces;
	font-style: italic;}

.menupanel {
	position: relative;
	background-image: url("assets/menupanelBG.png");
	background-size: 100% 100%;
	width: 200px;
	height: 600px;
	padding: 15px;}

#BtnIntro, #BtnDefi, #BtnApp, #BtnDisrupt, #BtnFuture, #BtnConclusion, #BtnCredit {
	position: absolute;
	color: white;
	text-decoration: none;
	font-family: Lastica;
	font-size: 15px;}

#BtnIntro:hover, #BtnDefi:hover, #BtnApp:hover, #BtnDisrupt:hover, #BtnFuture:hover, #BtnConclusion:hover, #BtnCredit:hover {
	font-weight: bold;}

#BtnIntro {
	top: 20px;}

#BtnDefi {
	top: 60px;}

#BtnApp {
	top: 100px;}

#BtnDisrupt {
	top: 140px;}

#BtnFuture {
	top: 180px;}

#BtnConclusion {
	top: 220px;}

#BtnCredit {
	top: 260px;}



