@font-face {font-family: "TT Interfaces"; src: url("assets/fonts/ttinterfaces/TTInterfaces-Regular.ttf"); }
@font-face {font-family: "Lastica"; src: url("assets/fonts/FontsFree-Net-Lastica.ttf");}

body {
	background-image: url("assets/webpageBG.png");
	background-position: center;
	background-attachment: fixed;}

.main {
	margin: auto;
}

.content{
	margin-top: 30px;
	margin-left: 180px;
	margin-right: 180px;
	background-color: white;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 30px;
	border-radius: 5px;
}

h1 {font-family: "TT Interfaces"; src: url("assets/fonts/ttinterfaces/TTInterfaces-Regular.ttf"); }

header {
	background-image: url("assets/HeaderBG.gif");
	height: 300px;
	position: relative;
	padding-left: 50px;}

p {
	font-size: 14px;
	line-height: 1.5;
}

mms142, activitygroup, hTitle, hSub, #circledesign {
	color: white;
	position: absolute;
	white-space: nowrap;}

#circledesign {
	top: 30px;}

mms142 {
	font-size: 12px;
	top: 50px;
	left: 62px;
	font-family: Lastica;}

activitygroup {
	font-size: 12px;
	top: 50px;
	left: 125px;
	font-family: Lastica;}

hTitle {
	font-size: 56px;
	top: 100px;
	font-weight: bold;
	font-family: Lastica;}

hSub {
	top: 240px;
	font-size: 26px;
	font-family: TT Interfaces;
	font-style: italic;}

.menupanel {
	float:left;
	position: fixed;
	width: 200px;
	height: 1000px;
	padding: 15px;
	background-color:#221C3A;
margin-left: 195px;}

.bod1 {
	overflow: hidden;
	margin-left: 450px;}

.btnCont {
	padding: 15px 40px;
	width: 215px;
	margin-bottom: 10px;
	background-color:#221C3A;
	border: none;
	transition-duration: 0.3s;
	color: white;
	font-family: Lastica;
	font-size: 15px;
	text-decoration: none;}

.btn {
	text-decoration: none;
	font-weight:bold;}

.btn:hover {
	color:#221C3A;
	background-color:white;
}

#BtnIntro, #BtnDefi, #BtnApp, #BtnDisrupt, #BtnFuture, #BtnConclusion, #BtnCredit {
	position: absolute;
	color: white;
	text-decoration: none;
	font-family: Lastica;
	font-size: 15px;}

#BtnIntro {
	top: 20px;}

#BtnAVR {
	top: 75px;}

#BtnDefi {
	top: 60px;}

#BtnApp {
	top: 100px;}

#BtnCurr {
	top: 110px;}

#BtnDisrupt {
	top: 140px;}

#BtnFuture {
	top: 180px;}

#BtnConclusion {
	top: 220px;}

#BtnCredits {
	top: 255px;}

#BtnCredit {
	top: 260px;}


